<html lang="de">
<body>
<p>
    Vielen Dank für deine Registrierung bei der Bootstrap Academy!
    Du kannst dich nun bei der Bootstrap Academy anmelden.
    Um die Seite vollständig nutzen zu können, musst du allerdings deine E-Mail bestätigen:
</p>
<p style="text-align: center">
    <a href="{{ url }}">{{ url }}</a>
</p>
<p>Nutze dazu diesen Code:</p>
<p style="text-align: center; font-family: monospace; font-size: 18px">
    <b>{{ code }}</b>
</p>
<p>Dein Bootstrap-Academy-Team</p>
</body>
</html>
